{% extends "app/base2.html" %}
{% block content %}
{% load static %}

     <section>
          
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                         <div>
                              <br>

                              <img src="{{MEDIA_URL}}{{i.companyimage.url}}" alt="" class="img-responsive wc-image">

                              <br>
                         </div>
                    </div>
                    {% if all_job %}
                    {% for i in all_job %}

                    <div class="col-lg-9 col-md-9 col-xs-12">
                         <form action="#" method="post" class="form">
                              <h2></h2>

                              <p class="lead"><strong class="text-primary">{{i.salarypackage}}</strong> <small> per year</small></p>

                              <p class="lead">
                                   <i class="fa fa-briefcase"></i> {{i.jobname}} &nbsp;&nbsp;
                                   <i class="fa fa-map-marker"></i> {{i.location}} &nbsp;&nbsp;
                                   <i class="fa fa-calendar"></i> 20-06-2020 &nbsp;&nbsp;
                                   <i class="fa fa-file"></i> Contract
                              </p>

                              
                         </form>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>{{i.jobdescription}}</h4>
                    </div>

                    <div class="panel-body">
                         <p>Pro Active Retail Security Officer required to operate in luxury retail environment. Searching for self-motivated individuals who are always looking to achieve the highest standards.</p>

                         <h4>Responsibillitites:</h4>

                         <p>Regular Report Writing, Liaison between the team and the client and head office, Door Supervision, Staff Search, Random Searches, TAG detector procedures, Risk Assessment, Fire Drills, Alarm Checks, immaculate customer services, deterrent and apprehension of offenders, liaisons with emergency services.</p>

                         <h4>Qualifications:</h4>
                         <p>- MUST have minimum 1 year experience in RETAIL security (shops).</p>
                         <p>- MUST be Fluent in the English Language (speaking and writing).</p>
                         <p>- MUST hold a valid SIA Door Supervisor Licence.</p>
                    </div>
               </div>

               <div class="panel panel-default">
                    <div class="panel-heading">
                         <h4>About Cannon Guards Security ltd</h4>
                    </div>

                    <div class="panel-body">
                         <p>Looking to improve the security at your place of business? If so, we will provide you with the trained security officers and professionally licensed personnel needed for any business. From a security guard for construction site security to private event security, you can be sure to get the very best from our staff. Alternatively we provide tailor-made security guard training for your existing security staff.</p>

                         <div class="row">
                              <div class="col-lg-6">
                                   
                              </div>

                              <div class="col-lg-6">
                                   
                              </div>
                         </div>

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Company name</span>

                                        <br>

                                        <strong>{{i.companyname}}</strong>
                                   </p>
                              </div>

                         </div>

                        

                         <div class="row">
                              <div class="col-md-6">
                                   <p>
                                        <span>Email</span>

                                        <br>

                                        <strong><a href="mailto:john@carsales.com">{{i.companyemail}}</a></strong>
                                   </p>
                              </div>

                              <div class="col-md-6">
                                   <p>
                                        <span>Website</span>

                                        <br>

                                        <strong><a href="#">{{i.website}}</a></strong>
                                   </p>
                              </div>
                         </div>

                         <p>
                              <span>Location</span>

                              <br>

                              <strong>{{i.location}}</strong>
                         </p>
                    </div>
               </div>

               <div class="clearfix">
                    <button><a href="{% url 'apply' %}" class="section-btn btn btn-primary pull-left">Apply</a></button>

                    <ul class="social-icon pull-right">
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-envelope-o"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
               </div>
          </div>
          {% endfor %}
          {% endif %}
     </section>

 {% endblock %}